<!--The content below is only a placeholder and can be replaced.-->
<h1>Contract balance: {{ balance | async}}
</h1>
<hr>
<div *ngIf="!wallet">
  Encryption key: <input type="text" #encryptionKey />
  <div *ngIf="walletJson">
    <button (click)="decryptWallet(walletJson, encryptionKey.value)">Decrypt Wallet</button>
    <br> {{wallet}}
  </div>

  <div *ngIf="!walletJson && !wallet">
    <button (click)="createWallet(encryptionKey.value)">Create wallet</button>
  </div>
</div>
<span *ngIf="wallet">Wallet address: {{wallet?.address}}</span>

<hr>
Contract address: <input type="text" [value]="contractAddress" (input)="contractAddress = $event.target.value" />
<br>
{{contractAddress}}
<br>
Length: {{contractAddress.length}}
<hr>

Owner address: <input type="text" [value]="ownerAddress" (input)="ownerAddress = $event.target.value" />
<br>
{{ownerAddress}}
<br>
Length: {{ownerAddress.length}}
<br>
<button (click)="getCarsByOwner(ownerAddress)" [disabled]="loadingGetCarsByOwner">Get cars by Owner</button>
<hr>

Car Index <input type="text" [value]="carIndex" (input)="carIndex = $event.target.value" /> <button [disabled]="loadingGetOwner"
  (click)="getOwner(carIndex)">Get
  Owner</button>
<br>
{{carIndex}}
<strong>{{carOwner}}</strong>
<ul>
  <li *ngFor="let carDetail of detailsResult">
    <!-- {{carDetail | json}} -->
    <span>Name: {{carDetail[2]}}</span> <br>
    <span>Price: {{carDetail[1].toString()}}</span>
  </li>
</ul>

<button (click)="withdraw()">Withdraw</button>

<ul>
  <li *ngFor="let carDetail of allCars | async; let index = index;">
    <!-- {{carDetail | json}} -->
    <span>Owner: {{carDetail[0]}}</span> <br>
    <span>Name: {{carDetail[2]}}</span> <br>
    <span>Price: {{ utils.formatEther( carDetail[1].toString())}}</span> <br>
    <span>Image: <img src="http://192.168.99.100:8080/ipfs/{{carDetail[3]}}" alt=""></span>
    <br>
    Take Over Price: <input type="text" #takeOverPrice />
    <button (click)="takeOver(index, takeOverPrice.value)">Take Over Car</button>
  </li>
</ul>

<button (click)="getAllCars()">Get All Cars</button>
<hr>
<div *ngIf="!loadingBuyCar">
  Car name: <input type="text" [value]="buyCarName" (input)="buyCarName = $event.target.value" />
  <br>
  {{buyCarName}}
  <br>
  Car price(ethers): <input type="
      text" [value]="buyCarPrice" (input)="buyCarPrice = $event.target.value" />
  <br>
  {{buyCarPrice}}
  <br>
  Image2: <input *ngIf="!buyCarImage" type="file" #file (change)="uploadToIPFS()" />
  {{buyCarImage}}
</div>
<h1 *ngIf="loadingBuyCar">Loading...</h1>
<button [disabled]="loadingBuyCar" (click)="buyCar(buyCarName, buyCarPrice, buyCarImage)">Buy Car</button>
